

<div class="body">
    <div class="form">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="title">Welcome</div>
        <div class="subtitle">Shubhankar Pandey's form!</div>
        <div class="input-container ic1">
            <div class="form-group input">
                <input class="form-control input" type="text" formControlName="name" placeholder="Name" >
                <div *ngIf="userForm.controls['name'].invalid && (userForm.controls['name'].dirty || userForm.controls['name'].touched)" class="text-danger">
                    <div *ngIf="userForm.controls['name'].errors?.['required']" class="text-danger">
                        Name is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="input-container ic2">
            <div class="form-group input">
                <input class="form-control input" [class.is-invalid]="userForm.controls['email'].invalid && userForm.controls['email'].touched" type="email" formControlName="email" placeholder="E-Mail" >
                <div *ngIf="(userForm.controls['email'].invalid && userForm.controls['email'].touched) || userForm.controls['email'].dirty">
                <small *ngIf="userForm.controls['email'].errors?.['required']" class="text-danger">Primary email is required </small>
                
                <small *ngIf="userForm.controls['email'].errors?.['pattern']" class="text-danger">Please provide a valid email address </small>
                </div>
            </div>
        </div>
        <div class="input-container ic2">
            <div class="form-group input">
                <input class="form-control input" type="text" formControlName="phone" placeholder="Phone Number" >
                <div *ngIf="(userForm.controls['phone'].invalid && userForm.controls['phone'].touched) || userForm.controls['phone'].dirty">
                  <small *ngIf="userForm.controls['phone'].errors?.['required']" class="text-danger">Phone Number is required </small>
                  <small *ngIf="userForm.controls['phone'].errors?.['minLength']" class="text-danger">Please Enter 10 digits </small>
                  <small *ngIf="userForm.controls['phone'].errors?.['pattern']" class="text-danger">Please provide a valid Number </small>
                  </div>
            </div>
        </div>

            <mat-form-field color="accent" appearance="outline" style="margin-top: 20px;">
                <mat-label style="color: aliceblue;">Date of birth</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" style="color: aliceblue;" (dateInput)="OnDateChange($event.value)">
                <mat-hint style="color: aliceblue;">MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker" style="color: aliceblue;"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        <button type="submit" class="submit">submit</button>
    </form>
      </div>
</div>

<!-- <div class="container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
 
          <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
          </ng-container>
      

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
</div> -->